:root {
  font-family: "Fixedsys Excelsior", monospace;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Fixedsys Excelsior";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fsex300.woff2") format("woff2");
}

#root {
  margin: 0 auto;
  text-align: center;
}

#canvas {
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
  margin: 1em;
  border: 4px solid #f0f0f0;
}

.text {
  color: #888;
}

.hilight {
  color: #aaa;
}

a {
  font-weight: 500;
  color: #aaa;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #f0f0f0;
  background-color: #444;
  border-top: 3px solid #f0f0f0;
  border-left: 3px solid #f0f0f0;
  border-bottom: 3px solid #888;
  border-right: 3px solid #888;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 5px;
  margin-right: 5px;
}

button:hover {
  border-color: #f0f0f0;
  background-color: #555;
}

button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}